# News Category Classification

In [32]:
from importlib import reload
import sys
from imp import reload
import warnings
warnings.filterwarnings('ignore')
if sys.version[0] == '2':
    reload(sys)
    sys.setdefaultencoding("utf-8")

In [33]:
import pandas as pd

df = pd.read_json('datasets/news.json', lines=True)
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [34]:
df = df.drop(['authors', 'link', 'date'], axis=1)
df.head()

,category,headline,short_description
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,She left her husband. He killed their children...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Of course it has a song.
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Ebe...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,The actor gives Dems an ass-kicking for not fi...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,"The ""Dietland"" actress said using the bags is ..."

In [35]:
df['information'] = df[['headline', 'short_description']].apply(lambda x: ' '.join(x), axis=1)
df.head()

,category,headline,short_description,information
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 5...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...

In [36]:
news = df
news.to_csv(r'datasets/news.csv', index=False)

In [37]:
news.head()

,category,headline,short_description,information
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 5...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...

In [38]:
df = df.drop(['headline', 'short_description'], axis=1)
df.head()

        category                                        information
0          CRIME  There Were 2 Mass Shootings In Texas Last Week...
1  ENTERTAINMENT  Will Smith Joins Diplo And Nicky Jam For The 2...
2  ENTERTAINMENT  Hugh Grant Marries For The First Time At Age 5...
3  ENTERTAINMENT  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4  ENTERTAINMENT  Julianna Margulies Uses Donald Trump Poop Bags...

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['category'] = le.fit_transform(df['category'])

df.head()

   category                                        information
0         6  There Were 2 Mass Shootings In Texas Last Week...
1        10  Will Smith Joins Diplo And Nicky Jam For The 2...
2        10  Hugh Grant Marries For The First Time At Age 5...
3        10  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4        10  Julianna Margulies Uses Donald Trump Poop Bags...

In [40]:
import re
import nltk
# nltk.download('stopwords')
# nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

stop_words = set(stopwords.words("english")) 
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    text = re.sub(r'[^\w\s]','',text, re.UNICODE)
    text = text.lower()
    text = [lemmatizer.lemmatize(token) for token in text.split(" ")]
    text = [lemmatizer.lemmatize(token, "v") for token in text]
    text = [word for word in text if not word in stop_words]
    text = " ".join(text)
    return text

df['processed_information'] = df.information.apply(lambda x: clean_text(x))

In [41]:
df.head()

,category,information,processed_information
0,6,There Were 2 Mass Shootings In Texas Last Week...,2 mass shoot texas last week 1 tv leave husban...
1,10,Will Smith Joins Diplo And Nicky Jam For The 2...,smith join diplo nicky jam 2018 world cup offi...
2,10,Hugh Grant Marries For The First Time At Age 5...,hugh grant marry first time age 57 actor longt...
3,10,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,jim carrey blast castrato adam schiff democrat...
4,10,Julianna Margulies Uses Donald Trump Poop Bags...,julianna margulies us donald trump poop bag pi...

In [70]:
df.processed_information.apply(lambda x: len(x.split(" "))).mean()

18.054826166400304

In [71]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

import numpy as np

max_features = 6000

tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(df['processed_information'])
list_tokenized_train = tokenizer.texts_to_sequences(df['processed_information'])

maxlen = 20
x = pad_sequences(list_tokenized_train, maxlen=maxlen)
y = df['category']
y = np.asarray(y)

In [78]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33)

In [79]:
# from tensorflow.keras.layers import Dense, Input, LSTM, Embedding, Dropout, Activation, GRU, Flatten
# from tensorflow.keras.layers import Bidirectional, GlobalMaxPool1D
# from tensorflow.keras.models import Model, Sequential
# from tensorflow.keras.layers import Convolution1D
# from tensorflow.keras import initializers, regularizers, constraints, optimizers, layers

# embed_size = 18
# model = Sequential()
# # model.add(Embedding(max_features, embed_size))
# # model.add(Bidirectional(LSTM(32, return_sequences = True)))
# # model.add(GlobalMaxPool1D())
# # model.add(Dense(5, activation="relu"))
# # model.add(Dropout(0.05))
# # model.add(Dense(1, activation="sigmoid"))
# # model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# batch_size = 100
# epochs = 3
# model.fit(x_train, y_train, batch_size=batch_size, epochs=epochs, validation_split=0.2)